<main id="main" class="main">

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Numero de compte <span><h2>{{client.numeroCompte}}</h2></span></h5>
            <div><h3>Solde = {{client.solde}} DT</h3><button style="margin-left: 80%"><i class="bi bi-printer-fill" style="color: green">&nbsp;Imprimer</i></button></div>
            <table class="table datatable">
              <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Operation</th>
                <th scope="col">Montant Retiré</th>
                <th scope="col">Montant Versé</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let extrait of extraits">
                <td>{{extrait.date | date}}</td>
                <td>{{extrait.operation}}</td>
                <td>{{extrait.montantRetire}}</td>
                <td>{{extrait.montantVerse}}</td>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
